{% extends "base.html" %}


{% block links %}
    {% if user_obj == request.user %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page"
               href="{% url 'accounts:profile_change' user_obj.pk %}">Редактировать</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page"
               href="{% url 'accounts:password_change' user_obj.pk %}">Сменить пароль</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <img src="{{ user_obj.profile.avatar.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Ник нэйм {{ user_obj.username }}</p>
            <p class="card-text">Email {{ user_obj.email }}</p>
            <p class="card-text">Дата рождения {{ user_obj.profile.birth_date|default:'не указана' }}</p>
        </div>
    </div>
    {% include 'partial/articles_list.html' %}
{% endblock %}
