{% extends "base.html" %}

{% block title %}
    <title>Articles</title>
{% endblock %}

{% block content %}
    <br>
    <div class="row">
        {% for article in articles %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
                        <p class="card-text">{{ article.content }}</p>
                        <a href="{% url 'article_detail' article.pk %}" class="card-link">Детальный просмотр</a>
                        <a href="{% url 'update_article' article.pk %}" class="card-link">Редактировние</a>
                        <a href="{% url 'delete_article' article.pk %}" class="card-link">Удаление</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

