{% extends "base.html" %}

{% block title %}
    <title>Articles</title>
{% endblock %}

{% block content %}
    {{ user }}
    {{ request.user }}
    <form method="get">
        {% include "partial/search_form.html" with form=search_form %}
    </form>
    <br>
    <div class="row">
        {% for article in articles %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
                        <p class="card-text">
                            {% for tag in article.tags.all %}
                                {{ tag.name }}{% if forloop.last %}. {% else %}, {% endif %}
                                {% empty %}
                                Нет ни одного тега
                            {% endfor %}
                        </p>

                        <div class="btn-group" role="group">
                            <a href="{{ article.get_absolute_url }}" class="btn btn-primary"><i
                                    class="bi bi-blockquote-right"></i></a>
                            <a href="{% url "webapp:update_article" article.pk %}"
                               class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            <a href="{% url "webapp:delete_article" article.pk %}" class="btn btn-primary"><i
                                    class="bi bi-trash3"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h2>статьи не найдены</h2>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}
{% endblock %}

